<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Sanjay Site</title>
        <body>
            {{> pageTitle}}
            <p>{{welcomeText}}</p>
        </body>
        {{> footer}}
        </head>
</html>